<h1>Editing short</h1>

<%= render 'edit_form' %>

<%= link_to 'Show', @short %> |
<%= link_to 'Delete', @short, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Back', shorts_path %>
