<div class="header">
	<h1 class="">Short It</h1>
</div>
<form class="form">
	<div>
		<p>
			full url : <%= @short.full %> 
		</p>
	</div>
	<input type="text" class="form_input" value="<%= @short.short %>" />
</form>
<br />
