<h1>New API Auth token Request</h1>
<p>
	Enter Your Email addres , and we will send you API Authroization token <br />
	See  <%= link_to "API Doc " , api_doc_path , target: :blank  %> 

</p>

<%= render 'form' %>