<div id="about">
	<header>
		About This Project
	</header>
	<p>
		This is simple url shortner made by <a href="http://github.com/alok">Alok </a><br />
		Using <a href="">Ruby on Rails </a> Framework 
	</p>
	<ul>
		Tech Stack
		<li>Ruby </li>
		<li>Rails Framework</li>
		<li>Postgresql </li>
	</ul>
	
</div>