<div id="about">
	<header>
		About This Project
	</header>
	<p>
		This is simple url shortner made by <a href="http://twitter.com/alokyadav15">Alok </a><br />
	</p>
	<ul>
		<h3>Tech Stack </h3>
		<li>Ruby </li>
		<li>Rails Framework</li>
		<li>Postgresql database  </li>
	</ul>
	<h4>
		Why This website dont have any fancy style ?
	</h4>
	<p>
		Fancy Stylesheets take too much time and server resorces , and thats stupid <br />
		look at the piratebay and ycombinator ( hacker news) they dont have fancy stylesheet <br />
		but still those site loads lot faster than anyone else . 
	</p>
	<h4>Why Use Shorty</h4>
	<p>
		Annonimity and security  <br />

		we dont track your IP or any info . we just store your url ( for redirecting you to that site only ) , and timestamp. <br />
		<strong>We encrypt your URL we even dont store your urls in plain text</strong>
	</p>

	<h4>What's comming next</h4>
	<p>
		Allowing user's to delete shorted urls <br />
		you will recive a token after shorting your url , <br />
		use that token to delete your shorted url. 
	</p>
</div>