/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #fff;
    margin: 10px;
    }

/*main content area */

#main {
    display: block;
    margin: auto auto 20px auto;
    text-align: center;
    }


/*flash messages */

#flash {
    border : 1px solid black;
}


/*header text decoration */
#head_text:hover  {
    text-decoration: none;
    color: black;
}
#head_text:visited  {
    text-decoration: none;
    color: black;
}
#head_text:link  {
    text-decoration: none;
    color: black;
}

/*forms and inputs*/

form {
   padding: 20px;
   margin-bottom: 20px;
}

.form_input {
padding: 7px;
width: 60%;
font-size: 13px;
}
.form_input2 {
    padding: 5px;
    width: 15%;
    margin-top: 15px;
}

.headerwa {
    cursor: pointer;
    text-decoration: underline;
    width: 250px;
    margin: auto;
}
#error_explanation ul li {
    text-decoration: none;
    list-style: none;
    border: 1px solid black;
    padding: 20px;
    width: 250px;
    margin: auto;
}

#about {
    text-align: left !important;
    font-size: 20px;
}
#footer {
    margin: 0em auto;
    text-align: center;
    margin-top: 3%;
}

#flash_notice {
    text-decoration: none;
    list-style: none;
    border: 1px solid green;
    padding: 20px;
    width: 250px;
    margin: auto;
}
#flash_error {
    text-decoration: none;
    list-style: none;
    border: 1px solid red;
    padding: 20px;
    width: 250px;
    margin: auto;
}
